{% extends 'home/base.html' %}
{% block content %}

{% load staticfiles %}

 <!-- <link href={% static 'css/round-about_about.css' %} rel="stylesheet"> -->
<style>
body {
    background-image: url({% static 'img/backgrounds/1.jpg' %});
}
   .about-body {
    padding-top: 70px;  Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. 
    /*color: red ;*/
   /* background-color: #F05F40;*/
    height: 100%;
}

.img-center {
    margin: 0 auto;
}

footer {
    margin: 50px 0;
}
</style>
<div class="about-body">
   
    

    <!-- Page Content -->
    <!-- <div class="container"> -->

        <!-- Introduction Row -->
        <!-- <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
            </div>
        </div> -->

        
    <div class="container">
        <div class="jumbotron">
            <h1 class="page-header">About Us
                <br>
                <small>It's Nice to Meet You!</small>
            </h1>
            <p <p align="justify">The Petals Art Jewellery is venturing into e-commerce business and is planning to carve out a niche in a highly competitive e-commerce trade in imitated jewellery.  Subsequently the company will diversify further into more products with the passage of time to augment further its engine of growth.
            </p>
            <p <p align="justify">
            The company is promoted by seasonal business person having profound experience in business. For day to day operations the company is equipped with high skill professionals, highly trained and experienced in their respective trades.</p>
        </div> 
    </div>

        


</div>





{% endblock %}