{% extends 'home/base.html' %}

{% block content %}

{% load staticfiles %}


<div class='row'>
<b><p align='center' style="font-size:160%;"> Products </p></b>

</div>
    <div class='row'>
      {% for product in showProducts %}
      <div class='col-lg-3'>

        <div class="thumbnail">
            <div style="width:100%; margin: 0 auto;">

              <a href='/single?q={{product.productId}}'>
                <!-- <div class='background_img_thumb' style="height:200px; background-image: url('/media/{{ product.primaryImage }}');"></div> -->
               <!--  <div class='background_img_thumb' style="height:200px;"></div> -->
                 <img class='img-responsive'src="/media/{{ product.primaryImage }}" style="width:100%; height:150px;" />

              </a>
            </div>
                
            
          <!-- <div style="
            width:100%;
            margin: 0 auto;">

              <a href='/single?q={{product.productId}}'>
                <div class='background_img_thumb' style="height:100px;"></div>
              </a>
            </div>    -->
        

            <div class="caption">
            <a href='/single?q={{product.productId}}'> 
            <h3>{{ product.title }}</h3>
            <p>{{ product.description|truncatewords:15}}</p>
            <p><a href="/single?q={{product.productId}}" 
                class="btn btn-primary" role="button">View</a>
            </p>
            </div>

        </div>
      </div>  

      {% cycle "" "" "" "" "" "</div><br/><hr/><div class='row'>"%}
      {% endfor %}


      
      </div>  

{% endblock %}      