{% extends 'home/base.html' %}
{% block content %}

{% load staticfiles %}

<link rel="stylesheet" href={% static 'css/animate_contact_us.css' %}>
        <link rel="stylesheet" href={% static 'css/style_contact_us.css' %}>
		<!-- Contact Form -->
		<div class="c-form-container section-container section-container-image-bg">
	        <div class="container">
	        	
	            <div class="row">
	                <div class="col-sm-8 col-sm-offset-2 c-form section-description wow fadeIn">
	                    <h1><strong>To buy trending products enter the below details</strong></h1>
	                    <p>Fill in the desired refferal ID in the form below </p>
	                </div>
	            </div>
	            
	            <div class="row">
	            	<div class="col-sm-6 col-sm-offset-3 c-form-box wow fadeInUp">
	            		
	                    <div class="c-form-top">
                    		<div class="c-form-top-left">
								<div>
                                <h4>Note: If you don't have refferal ID to use, you can use this one </h4>
                                <h3> "PETALS"   <h3>
                                </div>
                    		</div>

                    		<div class="c-form-top-right">
                    			<div class="c-form-top-right-icon">
                    				<i class="fa fa-paper-plane"></i>
                    			</div>
                    		</div>
                        </div>
                        <div class="c-form-bottom">
		                    <form role="form" action="/buy/" method="POST" class="r-form">
		                    	{% csrf_token %}
		                    	<div class="form-group">
                                	<label class="sr-only" for="r-form-first-name">Sponser Id</label>
                                	<input type="text" name="sponserId" placeholder="Refferal Id..." class="r-form-first-name form-control" id="sponserId" required>
                                	<h4>{{errorSponserId}}</h4>
                            	</div>
                            	<div class="form-group">
                                	<label class="sr-only" for="r-form-first-name">Product Selected</label>
                                	<input type="text" name="product" class="r-form-first-name form-control" id="Selected Product" value="{{spProd.title}}" readonly>
                            	</div>
                                <div class="form-group">
                                    <label class="sr-only" for="r-form-first-name">Amount</label>
                                    <input type="text" name="amount"  class="r-form-first-name form-control" id="Amount"
                                    value="{{spProd.price}}" readonly>
                                </div>

                            	<div class="form-group">
                                <!-- <label for="r-form-first-name">Choose Plan</label> -->
                                <!-- <input type="text" name="r-form-first-name" placeholder="Choose Plan..." class="r-form-first-name form-control" id="r-form-first-name"> -->

                            </div>


                            <b><h1>Bank Details </h1><b><h4>(for cash back policies)</h4>
                            <div class="form-group">
                                <label class="sr-only" for="r-form-first-name">Account Holder Name</label>
                                <input type="text" name="holderName" placeholder="Account Holder Name..." class="r-form-first-name form-control" id="holderName" required>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="r-form-first-name">Bank Name</label>
                                <input type="text" name="bankName" placeholder="Bank Name..." class="r-form-first-name form-control" id="bankName" required>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="r-form-first-name">Branch Name</label>
                                <input type="text" name="branchName" placeholder="Branch Name..." class="r-form-first-name form-control" id="branchName" required>
                            </div>
                            <div class="form-group">
                                <!-- <label for="r-form-first-name">Account Type</label> -->
                                <select name="accountType" class="form-control">
                                  <option selected="selected" disabled>Account Type</option>
                                  <option value="Savings">Savings</option>
                                  <option value="Current">Current</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="r-form-first-name">Account No.</label>
                                <input type="text" name="accNumber" placeholder="Account No...." class="r-form-first-name form-control" id="accNumber" required>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="r-form-first-name">IFSC Code</label>
                                <input type="text" name="ifscCode" placeholder="IFSC Code..." class="r-form-first-name form-control" id="ifscCode" required>
                            </div>
                            <!-- <div class="form-group">
                                <label class="sr-only" for="r-form-first-name">Pan Card</label> 
                                <label class="control-label">Select PAN Card</label>
                                <input id="panCard" name="panCard" type="file" class="file" required>
                                 <input type="text" name="r-form-first-name" placeholder="Pan Card No...." class="r-form-first-name form-control" id="r-form-first-name"> 
                            </div> -->
                            <div class="form-group">
                                <label class="sr-only" for="r-form-first-name">Pan Card No.</label>
                                <input type="text" name="panCardNumber" placeholder="Pan Card No...." class="r-form-first-name form-control" id="panCardNumber" required>
                                <h4>{{errorPanNumber}}</h4>
                            </div>
                           <!--  <div class="form-group">
                                <label class="sr-only" for="r-form-first-name">Aadhaar Card</label>
                                <input type="text" name="r-form-first-name" placeholder="Aadhaar Card No...." class="r-form-first-name form-control" id="r-form-first-name">
                                <label class="control-label">Select Aadhaar Card</label>
                                <input id="aadhaarCard" name="aadhaarCard" type="file" class="file" required>
                            </div> -->
                            <div class="form-group">
                                <label class="sr-only" for="r-form-first-name">Aadhaar Card No.</label>
                                <input type="text" name="aadhaarCardNumber" placeholder="Aadhaar Card No...." class="r-form-first-name form-control" id="aadhaarCardNumber" required = "true">
                                <h4>{{errorAadharNumber}}</h4>
                            </div>
                           <!--  <div class="form-group">
                                <label class="sr-only" for="r-form-first-name">Aadhaar Card</label>
                                <input type="text" name="r-form-first-name" placeholder="Aadhaar Card No...." class="r-form-first-name form-control" id="r-form-first-name">
                                <label class="control-label">Select Photo</label>
                                <input id="photo" name="photo" type="file" class="file" required>
                            </div> -->
		                   
		                        <button type="submit" class="btn">BUY Product</button>
		                    </form>
	                    </div>
	                    
	                </div>
	            </div>
	            
	        </div>
        </div>
        <script>
            $('#btnDialog').click(function ()
        {
              $(this).speedoPopup(
     {
        width:550,
        height:265,
        useFrame: TRUE,
        href: '#divContentToPopup'
    });
        });

        </script>
         <script src={% static 'js/jquery-1.11.1.min_contact_us.js' %}></script>
    <!-- <script src={% static 'js/jquery.backstretch.min_contact_us.js' %}></script> -->
    <script src={% static 'js/wow.min_contact_us.js' %}></script>
    <script src={% static 'js/scripts_contact_us.js' %}></script>

{% endblock %}