{% extends 'home/base.html' %}
{% block content %}

{% load staticfiles %}

<link rel="stylesheet" href={% static 'css/animate_contact_us.css' %}>
        <link rel="stylesheet" href={% static 'css/style_contact_us.css' %}>
		<!-- Contact Form -->
		<div class="c-form-container section-container section-container-image-bg">
	        <div class="container">
	        	
<br>
<br>
<br><br>
<br>

                

	            
	            <div class="row">
	            	<div class="col-sm-6 col-sm-offset-3 c-form-box wow fadeInUp">
	            		
	                    <div class="c-form-top">
                    		

                    		<div class="c-form-top-right">
                    			<div class="c-form-top-right-icon">
                    				<i class="fa fa-paper-plane"></i>
                    			</div>
                    		</div>
                        </div>
                        <div class="c-form-bottom">
		                    <form role="form" action="/buyAnotherProduct" method="POST">
		                    	{% csrf_token %}
		                    	
                            	<div class="form-group">
                                	<label class="sr-only" for="r-form-first-name">Product Selected</label>
                                	<input type="text" name="sponserId" placeholder="Selected Product..." class="r-form-first-name form-control" id="Selected Product" value="{{product.title}}" readonly>
                            	</div>

		                        <button type="submit" class="btn">BUY Product</button>
		                    </form>
	                    </div>
	                    
	                </div>
	            </div>
	            
	        </div>
        </div>
        <script>
            $('#btnDialog').click(function ()
        {
              $(this).speedoPopup(
     {
        width:550,
        height:265,
        useFrame: TRUE,
        href: '#divContentToPopup'
    });
        });

        </script>
         <script src={% static 'js/jquery-1.11.1.min_contact_us.js' %}></script>
    <!-- <script src={% static 'js/jquery.backstretch.min_contact_us.js' %}></script> -->
    <script src={% static 'js/wow.min_contact_us.js' %}></script>
    <script src={% static 'js/scripts_contact_us.js' %}></script>

{% endblock %}