{% extends 'home/base.html' %}
{% block content %}

{% load staticfiles %}


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<title>Response Handler</title>

<div  style="background-color: #000"; class="">
                      <p align="center" style="font-size:34px; color:#ffffff"><b>Payment Response</b></p>
               
                </div>
<style >
.downFromTop {

	margin-top: 5%;
}


</style>
{% if Response %}
<div class="">
			<center>

				<font size="4" color="black"><b>Thank You for buying Product from Petals Art Jewellery Pvt. Ltd.</b></font>
				<br>
			
				{{ Response }}
			</center>
			<br>
</div >

{% else %}

<div class="">
			<center>

				<font size="4" color="black"><b>Ooops....went something wrong! </b></font>
				<br>
			
				{{ Response }}
			</center>
			<br>
</div>


			{% endif %}

		

{% endblock %}