{% extends 'home/base.html' %}

{% block content %}

{% load staticfiles %}



    <header>
       <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Desire & Dream Productions</h1>
                <hr>
                <p></p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
        
        
    
    </header>
    
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded"></p>
                    <a href="/about_us" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Products</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <!-- Write Plans Here -->

        <!--<section id="portfolio" class="bg-light-gray">-->
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <img src={% static 'img/portfolio/fullsize/6.jpg' %} class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Pants</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <img src={% static 'img/portfolio/fullsize/5.jpg' %} class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>T shirt's</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <img src={% static 'img/portfolio/fullsize/4.jpg' %} class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Shoes</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <img src={% static 'img/portfolio/fullsize/3.jpg' %} class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Jacket's</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <img src={% static 'img/portfolio/fullsize/2.jpg' %} class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Shirt's</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <img src={% static 'img/portfolio/fullsize/1.jpg' %} class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Suit's</h4>
                    </div>
                </div>
            </div>
        </div>
    <!--</section> -->


     <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="/products" class="btn btn-primary btn-xl page-scroll">Explore Different Products</a>
                </div>
            </div>
        </div>



    
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to join and choose a suitable product? That's great! For any query give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 text-center" style="width:1150px; margin:0 auto;">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p>ddproductions.2017@gmail.com</p>
                </div>
            </div>
        </div>
    </section>
        <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Any furthur query?</h2>
                <a href="/contact_us" class="btn btn-default btn-xl sr-button">Fill Enquery Form</a>
            </div>
        </div>
        </aside>

{% endblock %}