{% extends 'home/base.html' %}

{% block content %}

{% load staticfiles %}
<style>
body {
    background-image: url({% static 'img/backgrounds/1.jpg' %});
}

</style>
  
    
    <br>
<br>
<div class='row'>
	<div class='col-sm-4'>	

	
		<div class="col-xs-12 ">
			<img class='img-responsive' src="/media/{{ product.primaryImage }}" />
		<hr/>	
		</div>
	
	
	</div>
	<div class='col-sm-8'>
		<div class='col-sm-5 pull-left'>
			<h1>{{ product.title }}
			</h1>
		</div>
		
		
		<div class='col-sm-12'>
			<hr/>
			Price: {{ product.price }} <br/>
			Shipping: Free with $25+ purchase.
			<hr/>
		</div>	
			<div class='col-sm-12'>
			{{ product.description|linebreaks }}
		    </div>
        <div class='col-sm-12'>
      <form action="/buy">
     <input type="submit" class="btn" value="Buy" />
      </form>
      </div>
	</div>

</div>
</body>


{% endblock %}