{% extends 'home/base.html' %}

{% block content %}

{% load staticfiles %}
<style>
/*body {
    background-image: url({% static 'img/backgrounds/1.jpg' %});
}*/
.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}
span.align-right { text-align:right; }
</style>
<br>
<br>
<br>

<title>Petals Art Jewellery</title>
<meta name="description" content="Petals Art Jewellery, products {{product.title}}">

<div class='row'>
  

  
        <div id="main_area">
                <!-- Slider -->
                <div class="row">
                    <div class="col-xs-10" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div style="padding-left: 1cm;"class="col-sm-7" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item" data-slide-number="0">
                                        <img src="/media/{{ product.primaryImage }}"></div>

                                        <div class="item" data-slide-number="1">
                                        <img src="/media/{{ product.secondaryImage }}"></div>

                                        <div class="item" data-slide-number="2">
                                        <img src="/media/{{ product.additionalImage }}"></div>

                                       <!--  <div class="item" data-slide-number="3">
                                        <img src="http://placehold.it/770x300&text=four"></div>

                                        <div class="item" data-slide-number="4">
                                        <img src="http://placehold.it/770x300&text=five"></div>

                                        <div class="item" data-slide-number="5">
                                        <img src="http://placehold.it/770x300&text=six"></div> -->
                                    </div><!-- Carousel nav -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>                                       
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>                                       
                                    </a>                                
                                    </div>
                            </div>
                           
                                
  <!-- <div class='col-sm-2'>
    <div class='col-sm-5 pull-left'>
      <h1 style="color:black;">{{ product.title }}
      </h1>
    </div>
    
    
    <div class='col-sm-12'>
      
      <p style="color:black;"><b>Price:</b> {{ product.price }} </p><br/>
    </div>  
      <div class='col-sm-12'>
      <p align="justify" style="color:black;"><b>Description:</b>{{ product.description}}</p>
       <p style="color:black;"><b>Shipping:</b> within 20-25 working days from the date of purchase.</p>
        </div>
        <div class='col-sm-12'>
      <form action="/buyProducts">
     <input type="submit" class="btn" value="Buy" />
      </form>
      </div>
  </div> -->
   <div class='col-sm-5'>
    
      <h1 style="color:black;">{{ product.title }} <a style="background-color: #000;float:right;color:white;font-size:15px" href="/buyProducts?q={{product.productId}}" class="btn" role="button">BUY NOW</a>
      </h1>
    
    
    
   
      
      <p style="color:black;font-size:15px"><b>Price:</b> Rs {{ product.price }} <span style="color:black;font-size:8px">  (Inclusive all taxes)</span> </p>
   <p align="justify" style="color:black;font-size:13px"><b>Description:</b> {{product.description}}</p>
   <p style="color:black;font-size:13px"><b>Shipping:</b> within 20-25 working days from the date of purchase.</p>
      <!-- <p style="color:red;">{{ spProd.description|linebreaks }}</p>
       -->
      
      <!-- <form  action="/buy">
      <button class="btn btn-success" type="submit">BUY NOW</button>
      </form> -->
       </div>
   

</div>
                            </div>



                            <!-- <div class="col-sm-4" id="carousel-text"></div>

                            <div id="slide-content" style="display: none;">
                                <div id="slide-content-0">
                                    <h2>Slider One</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>

                                <div id="slide-content-1">
                                    <h2>Slider Two</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>

                                <div id="slide-content-2">
                                    <h2>Slider Three</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>

                                <div id="slide-content-3">
                                    <h2>Slider Four</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>

                                <div id="slide-content-4">
                                    <h2>Slider Five</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>

                                <div id="slide-content-5">
                                    <h2>Slider Six</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>
                             -->
                           </div>
                        </div>
                    
                </div><!--/Slider-->

                <div style="padding-left: 0.3cm;"class="row hidden-xs" id="slider-thumbs">
                        <!-- Bottom switcher of slider -->
                        <ul class="hide-bullets">
                            <li class="col-sm-1">
                                <a class="thumbnail" id="carousel-selector-0"><img src="/media/{{ product.primaryImage }}"></a>
                            </li>

                            <li class="col-sm-1">
                                <a class="thumbnail" id="carousel-selector-1"><img src="/media/{{ product.secondaryImage }}"></a>
                            </li>

                            <li class="col-sm-1">
                                <a class="thumbnail" id="carousel-selector-2"><img src="/media/{{ product.additionalImage }}"></a>
                            </li>

                           <!--  <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-3"><img src="http://placehold.it/170x100&text=four"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-4"><img src="http://placehold.it/170x100&text=five"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-5"><img src="http://placehold.it/170x100&text=six"></a>
                            </li> -->
                        </ul>                 
                </div>
        </div>
</div>
  
	
	<!-- </div>
	<div class='col-sm-8'>
		<div class='col-sm-5 pull-left'>
			<h1 style="color:white;">{{ product.title }}
			</h1>
		</div>
		
		
		<div class='col-sm-12'>
			
			<p style="color:white;">Price: {{ product.price }} </p><br/>
			<p style="color:white;">Shipping: Free with $25+ purchase.</p>
			
		</div>	
			<div class='col-sm-12'>
			<p style="color:white;">{{ product.description|linebreaks }}</p>
		    </div>
        <div class='col-sm-12'>
      <form action="/buy">
     <input type="submit" class="btn" value="Buy" />
      </form>
      </div>
	</div>

</div> -->


<script>
 
    var lastImg = 1; //Set initial thumbnail and preview
    document.getElementById(0).src = document.getElementById(lastImg).src;
    document.getElementById(lastImg).className = "thumb selected";
 
    function preview(img) {
        document.getElementById(lastImg).className = "thumb normal";
        img.className = "thumb selected";
        document.getElementById(0).src = img.src;
        lastImg = img.id
    }
</script>


{% endblock %}