{% extends 'home/base.html' %}

{% block content %}

{% load staticfiles %}

<style>
/*body {
    background-image: url({% static 'img/backgrounds/1.jpg' %});
}
*/
.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}

body { float:left;}
.success { background-color: #fcf3cf;
            color: #000;}

</style>

<title>Petals Art Jewellery</title>
<meta name="description" content="Petals Art Jewellery Trending Products which offers you CASHBACK {{spProd.title}}">


<div  style="background-color: #000"; class="downFromTop">
                       <p align="center" style="font-size:34px; color:#ffffff"><b>{{ spProd.title }}</b></p>
               
                </div>
<div style="margin-top:0%"class='row'>
  

  
        <div id="main_area">
                <!-- Slider -->
                <div class="row">
                    <div class="col-xs-10" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div style="padding-left: 1cm;"class="col-sm-7" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="success" >
                                    <center><b style="font-size: 25px;">+{{ spProd.cashBack }}% Cashback</b></center>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="active item" data-slide-number="0">
                                        <img src="/media/{{ spProd.primaryImage }}"></div>

                                        <div class="item" data-slide-number="1">
                                        <img src="/media/{{ spProd.secondaryImage }}"></div>

                                        <div class="item" data-slide-number="2">
                                        <img src="/media/{{ spProd.additionalImage }}"></div>

                                       <!--  <div class="item" data-slide-number="3">
                                        <img src="http://placehold.it/770x300&text=four"></div>

                                        <div class="item" data-slide-number="4">
                                        <img src="http://placehold.it/770x300&text=five"></div>

                                        <div class="item" data-slide-number="5">
                                        <img src="http://placehold.it/770x300&text=six"></div> -->
                                    </div><!-- Carousel nav -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>                                       
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>                                       
                                    </a>                                
                                    </div>
                            </div>
                            <div class="col-sm-1" id="carousel-bounding-box">
                                </div>
  <div style="padding-left:1cm"class='col-sm-5'>
    
      <h1 style="color:black; "><b>{{ spProd.title }}</b> <a style="background-color: #000;float:right;color:white;font-size:15px" href="/buy?q={{spProd.productId}}" 
                     class="btn btn-info btn-md" role="button">BUY NOW</a></h1>

    
    
    
   
      
   <p style="color:black;font-size:15px"><b>Price:</b> Rs {{ spProd.price }} <span style="color:black;font-size:8px">  (Inclusive all taxes)</span> </p>
   <p align="justify" style="color:black;font-size:13px"><b>Description:</b> {{spProd.description}}</p>
   <p style="color:black;font-size:13px"><b>Shipping:</b> within 20-25 working days from the date of purchase.</p>
   <p style="color:black;font-size:13px"><b>Cashback Period:</b> In 15 months</p>
   <p style="color:black;font-size:13px"> <b>Note:</b> {{ spProd.cashBackDescription }} </p>
      <!-- <p style="color:red;">{{ spProd.description|linebreaks }}</p>
       -->
      
      <!-- <form action="/buy">
     <input type="submit" class="btn" value="Buy" />
      </form> -->
      <!-- <p><a href="/buy?q={{spProd.productId}}" 
                     class="btn btn-info" role="button">BUY NOW</a>
                    </p> -->
     </div>

</div>
                            </div>



                            <!-- <div class="col-sm-4" id="carousel-text"></div>

                            <div id="slide-content" style="display: none;">
                                <div id="slide-content-0">
                                    <h2>Slider One</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>

                                <div id="slide-content-1">
                                    <h2>Slider Two</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>

                                <div id="slide-content-2">
                                    <h2>Slider Three</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>

                                <div id="slide-content-3">
                                    <h2>Slider Four</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>

                                <div id="slide-content-4">
                                    <h2>Slider Five</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>

                                <div id="slide-content-5">
                                    <h2>Slider Six</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>
                             -->
                           </div>
                        </div>
                    
                </div><!--/Slider-->

                <div style="padding-left: 0.3cm;"class="row hidden-xs" id="slider-thumbs">
                        <!-- Bottom switcher of slider -->
                        <ul class="hide-bullets">
                            <li class="col-sm-1">
                                <a class="thumbnail" id="carousel-selector-0"><img src="/media/{{ spProd.primaryImage }}"></a>
                            </li>

                            <li class="col-sm-1">
                                <a class="thumbnail" id="carousel-selector-1"><img src="/media/{{ spProd.secondaryImage }}"></a>
                            </li>

                            <li class="col-sm-1">
                                <a class="thumbnail" id="carousel-selector-2"><img src="/media/{{ spProd.additionalImage }}"></a>
                            </li>

                           <!--  <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-3"><img src="http://placehold.it/170x100&text=four"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-4"><img src="http://placehold.it/170x100&text=five"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-5"><img src="http://placehold.it/170x100&text=six"></a>
                            </li> -->
                        </ul>                 
                </div>
        </div>
</div>
	
		
		 
    <!-- <div class='row'>

      <div class='col-xs-12'>
          
          
          <img id="1" class='img-responsive' src="/media/{{ spProd.primaryImage }}" alt="image1" onmouseover="preview(this)"/>
       </div>
      <div  class='col-xs-12'>
           
          <img id="2" class="thumb normal" src="/media/{{ spProd.secondaryImage }}" alt="image2" onmouseover="preview(this)"/>
      </div>
      <div  class='col-xs-12'>
         
          <img id="3" class="thumb normal" src="/media/{{ spProd.additionalImage }}" alt="image3" onmouseover="preview(this)"/>
      </div>
    </div>  -->
 
	 
   <!-- <img id="0" class="preview normal" src="" alt="preview" /><br />
<img id="1" class="thumb normal" src="/media/{{ spProd.primaryImage }}" alt="image1" onmouseover="preview(this)"/>
<img id="2" class="thumb normal" src="/media/{{ spProd.secondaryImage }}" alt="image2" onmouseover="preview(this)"/>
<img id="3" class="thumb normal" src="/media/{{ spProd.additionalImage }}" alt="image3" onmouseover="preview(this)"/>
	 -->
	<!-- <div class='col-sm-5'>
		<div class='col-sm-8 pull-left'>
			<h1 style="color:white;">{{ spProd.title }}
			</h1>
		</div>
		
		
		<div class='col-sm-12'>
			
			<p style="color:white;">Price: {{ spProd.price }}</p> <br/>
			<p style="color:white;">Shipping: Free with $25+ purchase.</p>
			
		</div>	
			<div class='col-sm-12'>
			<p style="color:white;">{{ spProd.description|linebreaks }}</p>
		    </div>

      <div class='col-sm-12'>
      <form action="/buy">
     <input type="submit" class='btn' value="Buy" />
      </form>
      </div>
	</div>


</div>
 -->



<script>
 
     jQuery(document).ready(function($) {
 
        $('#myCarousel').carousel({
                interval: 5000
        });
 
        $('#carousel-text').html($('#slide-content-0').html());
 
        //Handles the carousel thumbnails
       $('[id^=carousel-selector-]').click( function(){
            var id = this.id.substr(this.id.lastIndexOf("-") + 1);
            var id = parseInt(id);
            $('#myCarousel').carousel(id);
        });
 
 
        // When the carousel slides, auto update the text
        $('#myCarousel').on('slid.bs.carousel', function (e) {
                 var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
});
</script>


{% endblock %}