{% extends 'home/base.html' %}
{% block content %}

{% load staticfiles %}




    <!--  Paper Dashboard core CSS    -->
    <link href={% static 'css/paper-dashboard.css' %} rel="stylesheet"/>




    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href={% static 'css/themify-icons_dashboard.css' %} rel="stylesheet">


<div class="downFromTop">
    <div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
        Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
        Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    -->

        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="/dashboard">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/user_profile">
                        <i class="ti-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
    <div class="content">
            <div class="container-fluid"> 
            <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-5">
                        <div class="card card-user">
                            <div class="image"></div>
                            <div class="content">
                                <div class="author">
                                  <img class="avatar border-white" src="" alt="Photo"/>
                                  <h4 class="title">{{userDetails.firstName}} {{userDetails.lastName}}<br />
                                     <small>{{user.username}}</small>
                                  </h4>
                                </div>
                                <p class="description text-center">
                                Hello {{user.username}}, here you can see your details.
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-1">
                                        <h5>1<br /><small>Products</small></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>X<br /><small>Members</small></h5>
                                    </div>
                                    <div class="col-md-3">
                                        <h5>{{user.amount}}<br /><small>Amount</small></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">User Profile</h4>
                            </div>
                            <div class="content">
                                    <div class="row">
                                        <div class="col-md-4">
                                        	<h5 class="title">Username<br />
		                                    	<small>{{user.username}}</small>
		                                  	</h5>
                                        </div>
                                        <div class="col-md-4">
                                            <h5 class="title">First Name<br />
		                                    	<small>{{userDetails.firstName}}</small>
		                                  	</h5>
                                        </div>
                                        <div class="col-md-4">
                                            <h5 class="title">Last Name<br />
		                                    	<small>{{userDetails.lastName}}</small>
		                                  	</h5>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="title">Phone Number<br />
		                                    	<small>{{userDetails.phoneNo}}</small>
		                                  	</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="title">Email<br />
		                                    	<small>{{userDetails.email}}</small>
		                                  	</h5>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="title">Address<br />
		                                    	<small>{{userDetails.address}}</small>
		                                  	</h5>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Account Details</h4>
                            </div>
                            <div class="content">
                                    <div class="row">
                                        <div class="col-md-6">
                                        	<h5 class="title">Account Holder Name<br />
		                                    	<small>{{userAccount.holderName}}</small>
		                                  	</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="title">Account Number<br />
		                                    	<small>{{userAccount.accountNo}}</small>
		                                  	</h5>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <h5 class="title">IFSC Code<br />
		                                    	<small>{{userAccount.IFSCCode}}</small>
		                                  	</h5>
                                        </div>
                                        <div class="col-md-4">
                                            <h5 class="title">Bank<br />
		                                    	<small>{{userAccount.bankName}}</small>
		                                  	</h5>
                                        </div>
                                        <div class="col-md-4">
                                            <h5 class="title">Branch<br />
		                                    	<small>{{userAccount.branchName}}</small>
		                                  	</h5>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="title">PAN Number<br />
		                                    	<small>{{userAccount.panNo}}</small>
		                                  	</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="title">Aadhaar Number<br />
		                                    	<small>{{userAccount.aadhaarNo}}</small>
		                                  	</h5>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            </div>
    </div>
    

        

    </div>
</div>

</div>




    <!--   Core JS Files   -->
        <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="assets/js/bootstrap-checkbox-radio.js"></script>

	<!--  Charts Plugin -->
	<script src="assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="assets/js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
	<script src="assets/js/paper-dashboard.js"></script>

	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script src="assets/js/demo.js"></script>


{% endblock %}
